<form [formGroup]="userForm">
    <h2>Reactive User form</h2>
  <div>
    <label> Name </label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
      <small *ngIf="userForm.controls['name'].errors?.['required']"> Name is required </small>
    </div>
    <br><br>
    <label> Email </label>
    <input type="email" formControlName="email">
    <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
      <small *ngIf="userForm.controls['email'].errors?.['required']"> Email is required</small>
    </div>
    <br><br>
    <label> Phone </label>
    <input type="tel" formControlName="phone">
    <div *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].touched">
    <small *ngIf="userForm.controls['phone'].errors?.['required']">Phone no is required</small>
    <small *ngIf="userForm.controls['phone'].errors?.['pattern']">Enter a valid 10 digit number</small>
    </div>
    <br><br>
    <label> Password </label>
    <input type="password" formControlName="password">
    <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched">
      <small *ngIf="userForm.controls['password'].errors?.['required']">password is required</small>
      <small *ngIf="userForm.controls['password'].errors?.['minlength']">Enter a valid password</small>
    </div>
</div>
</form>
<br>
<button (click)="onSubmit()" [disabled]="userForm.invalid">submit</button>
